.cardStylesList {
  background-color: #343a40;
  color: white;
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  align-content: center ;
}

.imageStylesList {
  object-fit: cover;
  border-radius: 20px;
}



